[submodule "ethereum-proof"]
	path = ethereum-proof
	url = https://github.com/sogolmalek/ethereum-proof
[submodule "helios"]
	path = helios
	url = https://github.com/sogolmalek/helios
[submodule "axiom-dapp"]
	path = axiom-dapp
	url = https://github.com/clawbird/axiom-dapp
